@mixin background-paralax {
  width: 68vw;
  height: 37vw;
  background-image: url("/img/main-bg.jpg");
  // background-attachment: fixed;
  background-repeat: no-repeat;
  transform: skew(3deg);
  background-position: left top;
  background-size: 57vw;

  clip-path: url(#rect);

}
