.form {
  display: flex;
  flex-direction: column;
  min-width: 300px;

  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $general-font-color;

  &__underline {
    position: relative;
    display: block;
    width: 100%;

    &:before,
    &:after {
      content: "";
      height: 1px;
      width: 0;
      bottom: 16px;
      position: absolute;
      background: $form-color;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease;
    }

    &:before {
      left: 49%;
    }

    &:after {
      right: 49%;
    }
  }
  
  &__input {
    height: 64px;
    position: relative;

    padding: 0 16px;

    background: #fff;
    box-shadow: 0 20px 30px rgba(17, 58, 150, 0.15);
    border-radius: 4px;

    margin-bottom: 16px;

    &:focus {
      + .form__underline:before,
      + .form__underline:after {
        width: 49%;
      }
    }

    &::placeholder {
      font-family: Circe, Arial, Helvetica, sans-serif;
      font-size: 16px;

      color: #91979c;
    }
  }

  &__textarea {
    font-family: Circe, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: $general-font-color;

    position: relative;

    padding: 16px;

    background: #fff;
    box-shadow: 0 20px 30px rgba(17, 58, 150, 0.15);
    border-radius: 4px;

    margin-bottom: 16px;

    &:focus {
      + .form__underline:before,
      + .form__underline:after {
        width: 49%;
      }
    }

    &::placeholder {
      font-family: Circe, Arial, Helvetica, sans-serif;
      font-size: 16px;

      color: #91979c;
    }
  }
}
