.service {
  font-family: Circe Bold, Arial, Helvetica, sans-serif;
  text-align: center;

  color: $general-font-color;

  border-radius: 50px;
  padding: 5px;

  max-width: 264px;
  height: 300px;
  margin-bottom: 50px;
  transition: box-shadow 300ms ease-in;

  &:hover {
    box-shadow: 0 20px 80px rgba(17, 58, 150, 0.3);
  }

  &__img {
    margin-bottom: 24px;
  }

  &__name {
    font-size: 1.25rem;
    line-height: 29px;
    text-transform: capitalize;

    margin-bottom: 16px;
  }

  &__description {
    @extend %p;
  }
}
